


.navbar{
    
   
    border-end-end-radius: 5px;
    border-bottom-left-radius: 5px;
    color-scheme: #a91b41;
}


.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 85px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 19px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.card1:hover{
    
    transform: translate3D(0,-1px,0) scale(1.1);



}
.card1{
    

    border-radius: 10%;
    
    
}

.card2:hover{
    
    transform: translate3D(0,-1px,0) scale(1.1);



}
.card2{

    border-radius: 10%;
    
}


.card3:hover{
    
    transform: translate3D(0,-1px,0) scale(1.1);



}
.card3{

    border-radius: 10%;
    
}


.card4:hover{
    
    transform: translate3D(0,-1px,0) scale(1.1);



}
.card4{

    border-radius: 10%;
    
}


.card5:hover{
    
    transform: translate3D(0,-1px,0) scale(1.1);



}
.card5{

    border-radius: 10%;
    
}


.card6:hover{
    
    transform: translate3D(0,-1px,0) scale(1.1);



}
.card6{

    border-radius: 10%;
    
}




